<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annotation Queue</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Sycophancy Annotation</h1>
    <div>
        <h2>To-Do ({{ to_do_files | length }})</h2>
        <ul>
            {% for file in to_do_files %}
                <li><a href="{{ url_for('review', filename=file) }}">{{ file }}</a></li>
            {% endfor %}
        </ul>

        <h2>Done ({{ done_files | length }})</h2>
        <ul>
            {% for file in done_files %}
                <li><a href="{{ url_for('review', filename=file) }}">{{ file }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
